
<div class="background">
        <div class="quote">
                <h3>
                    They also need <span><b>Love!!</b></span>
                </h3>
        </div>
    <div class="ptext">
        <a class="join btn btn-default section-btn" data-toggle="modal" routerLink="/register">
      JOIN NOW
    </a>
    </div>
    <div class="quote">
        <div class="main_head">    
            <p>
                For <span><b>Saving</b></span> them from being <span><b>Homeless</b></span>
            </p>
        </div>
    </div>
</div>
