<div class="background">
  <div class="quote">Welcome <span><b>{{this.userService.userName}}</b></span></div>
<div class=".col-md-4 container">
<div class="card" (click)="cardClick()"> 
  <img src="./assets/images/LookVet.png" height="200" alt="Italian Trulli">
  <div class="caption clearfix links">
    Look for Vet        
  </div>
  </div>
  <div class="card" (click)="cardClick()"> 
    <img src="./assets/images/causesAndSymptoms.png" height="200" alt="Italian Trulli">
    <div class="caption clearfix links" >
      Symptoms and causes        
    </div>
    </div>
    <div class="card" (click)="cardClick()"> 
      <img src="./assets/images/PetSupplies.png" height="200" alt="Italian Trulli">
      <div class="caption clearfix links" >
        Pet Supplies        
      </div>
      </div>
    </div>
  </div>